.card {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  min-height: 140px;
  max-width: 400px;
}

.card_top {
  display: flex;
  align-items: flex-start;
}

.card_header {
  display: flex;
  gap: 5px;
}

.card_top_labels {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 14px;
  line-height: 21px;
}

.card_top_left{
  display: flex;
  flex: 1 1;
  gap: 310px;
}
.card_top_labels label {
  border-radius: 40px;
  padding: 4px 12px;
  background-color: gray;
  color: #fff;
  width: fit-content;
}

.card:hover .card_top_more {
  opacity: 1;
}

.card_title {
  flex: 1;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

.card_footer {
  align-items: center;
  display: flex;
  gap: 9px;
  justify-content: flex-start;
}

.card_footer_item {
  border-radius: 40px;
  padding: 4px 12px;
  background-color: #f8f8f8;
  color: #000;
  width: fit-content;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.card_footer_user {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card_iconFeature{
  color: #b7bac5;
}

.card_bottom_right{
  border: .5px solid #dfdfdf;
  border-radius: 6px;
  padding: 6px;
  align-items: center;
  color: grey;
  display: flex;
  font-size: 18px;
  gap: 7px;
}

svg.add-card-icon {
  color: #6a6a6a;
  cursor: pointer;
}

.card_bottom_left {
  border: .5px solid #dfdfdf;
  border-radius: 6px;
  padding: 6px;
  background-color: #fff;
  color: gray;
}